.episod {
  .image {
    border-radius: 20px;
  }
  .number {
    margin-top: 40px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .duration {
    margin-top: 12px;
    color: #BABABA;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}