@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'TT Norms Pro', sans-serif;
}

body {
  background: #09090C;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}